version: '3.9'

services:
  postgres-booking:
    image: postgres:15-alpine
    container_name: booking-postgres
    environment:
      POSTGRES_DB: travel_booking
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 10
  booking-service:
    build: .
    container_name: booking-service
    depends_on:
      - postgres-booking
      - redis
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: travel_booking
      DB_USER: postgres
      DB_PASSWORD: postgres
      REDIS_HOST: redis
      REDIS_PORT: 6379
    ports:
      - "8083:8083"
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s

volumes:
  postgres_data: